.ant-col {
  margin-bottom: 50px;
}

.ant-card-cover {
  padding: 4px;
  object-fit: cover;
}

.ant-card-meta-title,
.ant-card-meta-description {
  font-size: 1.3rem !important;
  color: #000 !important;
}

.ant-card-meta-title {
  font-weight: bold !important;
}

.ant-card-actions .anticon {
  font-size: 28px !important;
}

.ant-card-actions a {
  font-size: 22px !important;
  color: #000 !important;
}

.ant-card-body {
  flex-grow: 1;
  padding: 10px !important;
}
