.carousel-image {
  object-fit: cover;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.55);
}

.text-dark {
  color: #000 !important;
}

p.text-white {
  font-size: 1.25rem;
}

.ant-modal-title {
  font-size: 1.6rem !important;
}

.carousel-indicators li {
  height: 5px;
}

.ant-modal-wrap {
  background: rgba(0, 0, 0, 0.75) !important;
}
